<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <title>链路追踪平台</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1181069_8h2ho7kir1n.css">
  </head>
  <body>
    <div id="root"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
